@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  display: grid;
  font-family: "Rubik", sans-serif;
  grid-template-rows: auto 1fr auto;
  min-height: 300vh;
  color: #BBD4F3;
  background-image: url(../public/img/backimg.svg);
  background-size: cover; }

ol, ul {
  padding-left: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; }

.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 108em;
  margin: 0 auto; }

.grid {
  display: grid; }

div.knowledge img {
  transition: transform .5s ease-in-out; }
  div.knowledge img:hover {
    transform: scale(1.5); }

main {
  justify-content: space-around; }
  main div {
    min-height: 80em; }
  main .home {
    gap: 8em;
    text-align: center; }
    main .home__title {
      font-size: 5em; }
    main .home__img img {
      max-width: 90em; }
  main .about {
    gap: 15em;
    text-align: start;
    align-items: flex-end; }
    main .about p {
      padding: 1.25em;
      border: solid 0.3em #1c8bdb3a;
      border-radius: 0.5em; }
    main .about__img {
      width: 40em;
      border-radius: 1em; }
    main .about__text {
      font-size: 2.2em;
      width: 19em;
      transform: translate(0, -2.5em); }
  main .knowledge {
    grid-template-areas: '. text1 text1 .' 'html css boot sass' '. js text2 text2' 'node text3 text3 react';
    justify-items: center;
    align-items: center;
    min-width: 108em; }

.text1 {
  grid-area: text1;
  font-size: 3em; }

.logo-html {
  grid-area: html; }
  .logo-html img {
    width: 14em; }

.logo-css {
  grid-area: css; }
  .logo-css img {
    width: 18em; }

.logo-boot {
  grid-area: boot; }
  .logo-boot img {
    width: 18em; }

.logo-sass {
  grid-area: sass; }
  .logo-sass img {
    width: 14em; }

.logo-js {
  grid-area: js; }
  .logo-js img {
    width: 16em; }

.text2 {
  grid-area: text2;
  font-size: 3em;
  transform: translate(-5em, 0); }

.logo-node {
  grid-area: node;
  transform: translate(13em, 1em); }
  .logo-node img {
    width: 18em; }

.text3 {
  grid-area: text3;
  font-size: 3em; }

.logo-react {
  grid-area: react;
  transform: translate(-15em, 0); }
  .logo-react img {
    width: 16em; }

nav {
  min-height: 10vh;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2em; }

.logo {
  flex-basis: 20%; }

.menu {
  flex-basis: 30%;
  justify-content: space-around;
  font-size: 1.8em; }
  .menu__link {
    border: 0.14em solid #1C8ADB;
    border-radius: 0.5em;
    transition: border-color .3s ease-in;
    padding: 0.5em; }
  .menu__link:hover {
    border-color: #BBD4F3;
    border-radius: 0.5em; }

footer {
  min-width: 30em;
  min-height: 10vh;
  justify-content: space-around;
  align-items: center; }

@media screen and (max-width: 1025px) {
  .menu {
    flex-basis: 40%; }
  main .home {
    max-width: 70em; }
    main .home img {
      max-width: 60em; }
  main .about {
    gap: 3em;
    align-items: center; }
    main .about p {
      padding: 1em;
      font-size: 1.8em; }
    main .about picture {
      transform: translateY(-5.5em); }
      main .about picture img {
        max-width: 30em; }
  main .knowledge {
    min-width: 65em; }
    main .knowledge .logo-html img {
      width: 12em; }
    main .knowledge .logo-css img {
      width: 16em; }
    main .knowledge .logo-boot img {
      width: 15em; }
    main .knowledge .logo-sass img {
      width: 12em; }
    main .knowledge .logo-js img {
      width: 14em; }
    main .knowledge .text2 {
      transform: translate(-2em, 0); }
    main .knowledge .logo-react {
      transform: translate(0, 0); }
    main .knowledge .logo-node {
      transform: translate(0, 0); } }

@media screen and (max-width: 431px) {
  nav {
    justify-content: center; }
  .menu {
    flex-basis: 100%; }
  main div {
    max-height: 50em; }
  div.home h1 {
    transform: translateY(0.5em); }
  div.home img {
    max-width: 32.5em; }
  div.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    transform: translate(0px, 3em); }
    div.about img {
      max-width: 28em; }
  p.about__text {
    max-width: 32.25em;
    font-size: 1.8em; }
  div.knowledge {
    grid-template-areas: 'text1 text1' 'html css' 'boot sass' 'js text2' 'text3 text3' 'node react';
    min-width: 10em;
    gap: 3em; }
    div.knowledge article {
      font-size: 2.2em; }
  .container {
    max-width: 32.25em; }
  .logo-html img {
    width: 9em; }
  .logo-css img {
    width: 12em; }
  .logo-boot img {
    width: 12em; }
  .logo-sass img {
    width: 9em; }
  .logo-js img {
    width: 10em; }
  .text2 {
    transform: translate(0, 0); }
  .logo-node {
    transform: translate(0, 0); }
    .logo-node img {
      width: 10em; }
  .logo-react {
    transform: translate(0, 0); }
    .logo-react img {
      width: 10em; }
  footer img {
    width: 3em; } }
