@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  display: grid;
  font-family: "Rubik", sans-serif;
  grid-template-rows: auto 1fr auto;
  min-height: 300vh;
  color: #BBD4F3;
  background-image: url(../public/img/backimg.svg);
  background-size: cover; }

ol, ul {
  padding-left: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; }

.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1080px;
  margin: 0 auto; }

.grid {
  display: grid; }

main {
  justify-content: space-between; }
  main div {
    min-height: 80rem; }
  main .home {
    gap: 8rem;
    text-align: center;
    padding-top: 5rem; }
    main .home__title {
      font-size: 5em; }
    main .home__subtitle {
      font-size: 3em; }
  main .about {
    gap: 20rem;
    text-align: justify;
    align-items: center; }
    main .about__img {
      width: 40rem; }
    main .about__text {
      font-size: 2.2em;
      width: 40rem; }
  main .knowledge {
    grid-template-areas: '. text1 text1 .' 'html css boot sass' '. js text2 text2' 'node text3 text3 react';
    justify-items: center;
    align-items: center;
    min-width: 1080px; }

.text1 {
  grid-area: text1;
  font-size: 3em; }

.logo-html {
  grid-area: html; }
  .logo-html img {
    width: 14rem; }

.logo-css {
  grid-area: css; }
  .logo-css img {
    width: 18rem; }

.logo-boot {
  grid-area: boot; }
  .logo-boot img {
    width: 18rem; }

.logo-sass {
  grid-area: sass; }
  .logo-sass img {
    width: 14rem; }

.logo-js {
  grid-area: js; }
  .logo-js img {
    width: 16rem; }

.text2 {
  grid-area: text2;
  font-size: 3em; }

.logo-node {
  grid-area: node; }
  .logo-node img {
    width: 18rem; }

.text3 {
  grid-area: text3;
  font-size: 3em; }

.logo-react {
  grid-area: react; }
  .logo-react img {
    width: 16rem; }

nav {
  min-height: 10vh;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem; }

.logo {
  flex-basis: 20%; }

.menu {
  flex-basis: 30%;
  justify-content: space-around;
  font-size: 1.8em; }
  .menu__link {
    border: 2px solid #1C8ADB;
    border-radius: 10px;
    transition: border-color .3s ease-in;
    padding: 0.5em; }
  .menu__link:hover {
    border-color: #BBD4F3;
    border-radius: 10px; }

footer {
  min-width: 30rem;
  min-height: 10vh;
  justify-content: space-around;
  align-items: center; }
