@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

@import './misc/variables';
@import './misc/normalize';
@import './misc/mixins';
@import './misc/animations';

@import './partials/main';
@import './partials/header';
@import './partials/footer';

@media screen and (max-width: 1025px) and (min-width: 432px) {
    .menu {
        flex-basis: 40%;
    }
    
    main {

        .home {
            max-width: 70em;

            img {
                max-width: 60em;
            }
        }

        .about {
            gap: 3em;
            align-items: center;

            p {
                padding: 1em;
                font-size: $text-md;
            }

            picture {
                transform: translateY(-5.5em);

                img {
                    max-width: 30em;
                }
            }
        }

        .knowledge {
            min-width: 65em;

            .logo-html {
                img {
                    width: 12em;
                }
            }
            .logo-css {
                img {
                    width: 16em;
                }
            }
            .logo-boot {
                img {
                    width: 15em;
                }
            }
            .logo-sass {
                img {
                    width: 12em;
                }
            }
            .logo-js {
                img {
                    width: 14em;
                }
            }
            .text2 {
                transform: translate(-2em, 0);
            }

            .logo-react {
                transform: translate(0, 0);

            }

            .logo-node {
                transform: translate(0, 0);
            }
        }
    }
}

@media screen and (max-width: 431px) {
    nav {
        justify-content: center;
    }

    .menu {
        flex-basis: 100%;
    }

    main {
        div {
            min-height: 50em;
        }
    }


    div.home {
        h1 {
            transform: translateY(0.5em);
        }
        img {
            max-width: 32.5em;
        }
    }

    div.about {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8em;
        transform: translate(0px, 3em);

        img {
            max-width: 28em;
        }
    }

    p.about__text {
        max-width: 32.25em;
        font-size: $text-md;
    }

    div.knowledge {
        grid-template-areas: 
        'text1 text1'
        'html css'
        'boot sass'
        'js text2'
        'text3 text3'
        'node react';
        min-width: 10em;
        gap: 3em;

        article {
            font-size: $text-lg;
        }

        .logo-html {
            img {
                width: 9em;
            }
        }
        .logo-css {
            img {
                width: 12em;
            }
        }
        .logo-boot {
            img {
                width: 12em;
            }
        }
        .logo-sass {
            img {
                width: 9em;
            }
        }
        .logo-js {
            img {
                width: 10em;
            }
        }
        .text2 {
            transform: translate(0, 0);
        }
        .logo-node {
            transform: translate(0, 0);
        
            img {
                width: 10em;
            }
        }
        .logo-react {
            transform: translate(0, 0);
        
            img {
                width: 10em;
            }
        }
    }

    .container {
        max-width: 32.25em;
    }

        
    footer {
        img {
            width: 3em;
        }
    }

}