main {
    justify-content: space-around;

    div {
        min-height: 80em;
    }

    .home {
        gap: 8em;
        text-align: center;
    
        &__title {
            font-size: $text-title;
        }
    }

    .about {
        gap: 15em;
        text-align: start;
        align-items: flex-end;

        p {
            padding: 1.25em;
            border: solid 0.3em #1c8bdb3a;
            border-radius: 0.5em;
        }

        &__img {
            width: 40em;
            border-radius: 1em;
        }

        &__text {
            font-size: $text-lg;
            width: 19em;
            transform: translate(0, -2.5em);
        }

    }

    .knowledge {
        grid-template-areas: 
        '. text1 text1 .'
        'html css boot sass'
        '. js text2 text2'
        'node text3 text3 react';
        justify-items: center;
        align-items: center;
        min-width: 108em;
    }

}

.text1 {
    grid-area: text1;
    font-size: $text-xl;
}
.logo-html {
    grid-area: html;

    img {
        width: 14em;
    }
}
.logo-css {
    grid-area: css;
    
    img {
        width: 18em;
    }
}
.logo-boot {
    grid-area: boot;

    img {
        width: 18em;
    }
}
.logo-sass {
    grid-area: sass;

    img {
        width: 14em;
    }
}
.logo-js {
    grid-area: js;

    img {
        width: 16em;
    }
}
.text2 {
    grid-area: text2;
    font-size: $text-xl;
    transform: translate(-5em, 0);
}
.logo-node {
    grid-area: node;
    transform: translate(13em, 1em);

    img {
        width: 18em;
    }
}
.text3 {
    grid-area: text3;
    font-size: $text-xl;
}
.logo-react {
    grid-area: react;
    transform: translate(-15em, 0);

    img {
        width: 16em;
    }
}