main {
    justify-content: space-around;

    div {
        min-height: 80rem;
    }

    .home {
        gap: 8rem;
        text-align: center;
    
        &__title {
            font-size: $text-title;
        }

        &__subtitle {
            font-size: $text-xl;
        }
    }

    .about {
        gap: 15rem;
        text-align: start;
        align-items: flex-end;

        p {
            box-sizing: border-box;
            padding: 3rem;
            border: solid 0.5rem #1c8bdb3a;
            border-radius: 1rem;
        }

        &__img {
            width: 40rem;
            border-radius: 1rem;
        }

        &__text {
            font-size: $text-lg;
            width: 40rem;
            transform: translate(0, -5rem);
        }

    }

    .knowledge {
        grid-template-areas: 
        '. text1 text1 .'
        'html css boot sass'
        '. js text2 text2'
        'node text3 text3 react';
        justify-items: center;
        align-items: center;
        min-width: 1080px;
    }

}

.text1 {
    grid-area: text1;
    font-size: $text-xl;
}
.logo-html {
    grid-area: html;

    img {
        width: 14rem;
    }
}
.logo-css {
    grid-area: css;
    
    img {
        width: 18rem;
    }
}
.logo-boot {
    grid-area: boot;

    img {
        width: 18rem;
    }
}
.logo-sass {
    grid-area: sass;

    img {
        width: 14rem;
    }
}
.logo-js {
    grid-area: js;

    img {
        width: 16rem;
    }
}
.text2 {
    grid-area: text2;
    font-size: $text-xl;
    transform: translate(-13rem, 0);
}
.logo-node {
    grid-area: node;
    transform: translate(13rem, 1rem);

    img {
        width: 18rem;
    }
}
.text3 {
    grid-area: text3;
    font-size: $text-xl;
}
.logo-react {
    grid-area: react;
    transform: translate(-15rem, 0);

    img {
        width: 16rem;
    }
}